.button {
	@extend .transition-active;
	padding: 8px 30px;

	display: flex;
	align-items: center;
	justify-content: center;

	border: 1px solid $grey-02;
	border-radius: 3px;
	background: $bg-color;

	font-weight: 400;
	font-size: 14px;
	line-height: 24px;

	--button-color: $bg-color;

	&_primary {
		border: none;
		background: $main-color;
		color: $bg-color;
		--button-color: $main-color;
	}

	&:hover {
		background-color: rgba(#000, 0.3);
		color: rgba(#000, 0.8);
		transition: none;
	}

	&:active {
		background-color: rgba(#000, 0.25);
		border-color: rgba(#000, 0.25);

		.button__chevron-right {
			transform: translateX(1px);
			transition: none;
		}
	}

	&__chevron-right {
		margin-left: 5px;
		transition: transform 0.1s ease-out,
			fill $default-transition-duration $default-transition-function;
	}
}
