$default-transition-duration: 0.4s;
$default-transition-function: ease-out;

$mobile-screen: 320px;
$tablet-screen: 768px;
$desktop-screen: 1200px;
$desktop-hd-screen: 1640px;

$bg-color: #FFFFFF;
$main-text-color: #000000;
$main-color: #3366FF;
$grey-01: #555770;
$grey-02: #CFCFCF;
$grey-03: #D5D5D5;
$grey-04: #EDEDF1;
$grey-05: #8C8C8C;

$main-index: 20;